astropy==7.0.0
astropy-iers-data==0.2024.12.30.0.33.36
matplotlib==3.10.0
numpy==2.2.1
progress==1.6
PyQt6==6.8.0
scipy==1.14.1
corner==2.2.2
pip~=25.1.1
wheel~=0.41.2
pillow~=11.3.0
setuptools~=68.2.0
packaging~=25.0
pyparsing~=3.2.3
pandas~=2.3.1
seaborn~=0.13.2
emcee~=3.1.6
dynesty~=3.0.0